<!DOCTYPE html>
<html>
<head>
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfil.css') }}">
</head>
<body>
    <div class="perfil centrado">
        <img src="{{ foto_perfil }}" alt="Foto de perfil" width="150">
        <ul class="info-list">
            <li><strong>Usuario:</strong> {{ usuario_buscado }}</li>
            <li><strong>Nombre:</strong> {{ nombre }}</li>
            <li><strong>Fecha de nacimiento:</strong> {{ fecha_nacimiento }}</li>
            <li><strong>Dirección:</strong> {{ direccion }}</li>
            <li><strong>Patologías:</strong> {{ patologias }}</li>
        </ul>
        <a href="{{ url_for('home') }}">Volver</a>
    </div>
</body>
</html>
