body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #a8d0ff, #b0f0b8);
}

.main-header {
    background-color: #004080; /* un azul oscuro */
    color: white;
    padding: 10px 20px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left, .nav-center, .nav-right {
    display: flex;
    align-items: center;
}

.nav-center {
    flex-grow: 1;
    justify-content: center;
}

.logo {
    height: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #003366;
    outline: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #004080;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #002244;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content.right {
    right: 0;
    left: auto;
}
