<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Mi App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
</head>
<body>
<header class="main-header">
    <nav class="navbar">
        <div class="nav-left">
            <div class="dropdown">
                <button class="dropbtn">Vista General ▾</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('datos_sensor') }}">Datos sensores</a>
                    <a href="#">Subapartado 2</a>
                    <a href="#">Subapartado 3</a>
                </div>
            </div>
        </div>

        <div class="nav-center">
            <img src="{{ url_for('static', filename='img/img_1.png') }}" alt="Logo" class="logo" />
        </div>

        <div class="nav-right">
            {% if usuario %}
            <div class="dropdown">
                <button class="dropbtn">Bienvenido, {{ usuario }} ▾</button>
                <div class="dropdown-content right">
                    <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                </div>
            </div>
            {% else %}
            <span>No conectado</span>
            {% endif %}
        </div>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
